* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: aliceblue;
  text-align: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  min-width: 200px;
}

.rules {
  min-width: 200px;
  max-width: 600px;
  font-size: 16px;
  font-style: italic;
  background-color: #234;
  padding: 10px;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

#starters {
  margin-bottom: 10px;
}

#starters img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#starters img {
  width: 200px;
  height: 200px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#options input, #options button {
  width: 200px;
}

#options input {
  margin-bottom: 5px;
}

#options button {
  font-size: 1rem;
  margin-bottom: 5px;
  background-color: black;
  color: aliceblue;
  border: 2px solid aliceblue;
}

#options button:hover {
  background-color: #234;
  cursor: pointer;
}

#result {
  margin: 2em 0;
  font-size: 2rem;
  border: 4px dotted blue;
}

#result div {
  padding: 10px;
}